# In-class exercise 3

**Author:**

**Exercises:**

1. Import the ```fifa23_players.csv``` table using Pandas

2. Print the first first rows of all the columns in the table

3. Print all the columns in the table using the method ```column```

4. Check the data type for the columns in your data table

5. Provide summary statistics for all the numerical variables in the table. What are the average age and the average potential for the players in the data table?

6. What is the last name for the player with the highest potential in Fifa 23? Print the table you used to get the information.

In [15]:
import pandas as pd
df = pd.read_csv("fifa23_players.csv")

In [31]:
print(df.head(5))
print(df.columns)
print(df.dtypes)

         Known As           Full Name  Overall  Potential  Value(in Euro)  \
0        L. Messi        Lionel Messi       91         91        54000000
1      K. Benzema       Karim Benzema       91         91        64000000
2  R. Lewandowski  Robert Lewandowski       91         91        84000000
3    K. De Bruyne     Kevin De Bruyne       91         91       107500000
4       K. Mbappé       Kylian Mbappé       91         95       190500000

  Positions Played Best Position Nationality  \
0               RW           CAM   Argentina
1            CF,ST            CF      France
2               ST            ST      Poland
3           CM,CAM            CM     Belgium
4            ST,LW            ST      France

                                         Image Link  Age  ...  LM Rating  \
0  https://cdn.sofifa.net/players/158/023/23_60.png   35  ...         91
1  https://cdn.sofifa.net/players/165/153/23_60.png   34  ...         89
2  https://cdn.sofifa.net/players/188/545/23_60.png   33  ...         86
3  https://cdn.sofifa.net/players/192/985/23_60.png   31  ...         91
4  https://cdn.sofifa.net/players/231/747/23_60.png   23  ...         92

   CM Rating  RM Rating  LWB Rating CDM Rating  RWB Rating  LB Rating  \
0         88         91          67         66          67         62
1         84         89          67         67          67         63
2         83         86          67         69          67         64
3         91         91          82         82          82         78
4         84         92          70         66          70         66

  CB Rating RB Rating GK Rating
0        53        62        22
1        58        63        21
2        63        64        22
3        72        78        24
4        57        66        21

[5 rows x 89 columns]
Index(['Known As', 'Full Name', 'Overall', 'Potential', 'Value(in Euro)',
       'Positions Played', 'Best Position', 'Nationality', 'Image Link', 'Age',
       'Height(in cm)', 'Weight(in kg)', 'TotalStats', 'BaseStats',
       'Club Name', 'Wage(in Euro)', 'Release Clause', 'Club Position',
       'Contract Until', 'Club Jersey Number', 'Joined On', 'On Loan',
       'Preferred Foot', 'Weak Foot Rating', 'Skill Moves',
       'International Reputation', 'National Team Name',
       'National Team Image Link', 'National Team Position',
       'National Team Jersey Number', 'Attacking Work Rate',
       'Defensive Work Rate', 'Pace Total', 'Shooting Total', 'Passing Total',
       'Dribbling Total', 'Defending Total', 'Physicality Total', 'Crossing',
       'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys',
       'Dribbling', 'Curve', 'Freekick Accuracy', 'LongPassing', 'BallControl',
       'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance',
       'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots',
       'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties',
       'Composure', 'Marking', 'Standing Tackle', 'Sliding Tackle',
       'Goalkeeper Diving', 'Goalkeeper Handling', ' GoalkeeperKicking',
       'Goalkeeper Positioning', 'Goalkeeper Reflexes', 'ST Rating',
       'LW Rating', 'LF Rating', 'CF Rating', 'RF Rating', 'RW Rating',
       'CAM Rating', 'LM Rating', 'CM Rating', 'RM Rating', 'LWB Rating',
       'CDM Rating', 'RWB Rating', 'LB Rating', 'CB Rating', 'RB Rating',
       'GK Rating'],
      dtype='object')
Known As          object
Full Name         object
Overall            int64
Potential          int64
Value(in Euro)     int64
                   ...
RWB Rating         int64
LB Rating          int64
CB Rating          int64
RB Rating          int64
GK Rating          int64
Length: 89, dtype: object
            Overall     Potential  Value(in Euro)           Age  \
count  18539.000000  18539.000000    1.853900e+04  18539.000000
mean      65.852042     71.016668    2.875461e+06     25.240412
std        6.788353      6.192866    7.635129e+06      4.718163
min       47.000000     48.000000    0.000000e+00     16.000000
25%       62.000000     67.000000    4.750000e+05     21.000000
50%       66.000000     71.000000    1.000000e+06     25.000000
75%       70.000000     75.000000    2.000000e+06     29.000000
max       91.000000     95.000000    1.905000e+08     44.000000

       Height(in cm)  Weight(in kg)    TotalStats     BaseStats  \
count   18539.000000   18539.000000  18539.000000  18539.000000
mean      181.550839      75.173904   1602.114569    357.946221
std         6.858097       7.013593    273.160237     39.628259
min       155.000000      49.000000    759.000000    224.000000
25%       177.000000      70.000000   1470.000000    331.000000
50%       182.000000      75.000000   1640.000000    358.000000
75%       186.000000      80.000000   1786.000000    385.000000
max       206.000000     105.000000   2312.000000    502.000000

       Wage(in Euro)  Release Clause  ...     LM Rating     CM Rating  \
count   18539.000000    1.853900e+04  ...  18539.000000  18539.000000
mean     8824.537462    5.081688e+06  ...     58.451319     57.374076
std     19460.531154    1.467203e+07  ...     13.987122     13.171194
min         0.000000    0.000000e+00  ...     18.000000     18.000000
25%      1000.000000    6.650000e+05  ...     54.000000     53.000000
50%      3000.000000    1.500000e+06  ...     62.000000     60.000000
75%      8000.000000    3.400000e+06  ...     67.000000     66.000000
max    450000.000000    3.667000e+08  ...     92.000000     91.000000

          RM Rating    LWB Rating    CDM Rating    RWB Rating     LB Rating  \
count  18539.000000  18539.000000  18539.000000  18539.000000  18539.000000
mean      58.451319     56.281569     55.928583     56.281569     55.650251
std       13.987122     13.903836     13.872190     13.903836     14.159466
min       18.000000     17.000000     19.000000     17.000000     17.000000
25%       54.000000     51.000000     48.000000     51.000000     49.000000
50%       62.000000     59.000000     59.000000     59.000000     59.000000
75%       67.000000     66.000000     66.000000     66.000000     65.000000
max       92.000000     88.000000     89.000000     88.000000     87.000000

          CB Rating     RB Rating     GK Rating
count  18539.000000  18539.000000  18539.000000
mean      54.528184     55.650251     23.257134
std       14.743929     14.159466     15.108925
min       18.000000     17.000000     10.000000
25%       45.000000     49.000000     17.000000
50%       58.000000     59.000000     18.000000
75%       66.000000     65.000000     20.000000
max       90.000000     87.000000     90.000000

[8 rows x 71 columns]

In [35]:
print(df['Age'].describe())
print(df['Age'].mean())
print(df['Potential'].describe())
print(df['Potential'].mean())

count    18539.000000
mean        25.240412
std          4.718163
min         16.000000
25%         21.000000
50%         25.000000
75%         29.000000
max         44.000000
Name: Age, dtype: float64
25.24041210421274
count    18539.000000
mean        71.016668
std          6.192866
min         48.000000
25%         67.000000
50%         71.000000
75%         75.000000
max         95.000000
Name: Potential, dtype: float64
71.01666756567236

In [44]:
df_new = df.sort_values(by='Potential', ascending=False)
print(df_new.head(1))
print(df_new.iloc[2])
print("Mbappé")

    Known As      Full Name  Overall  Potential  Value(in Euro)  \
4  K. Mbappé  Kylian Mbappé       91         95       190500000

  Positions Played Best Position Nationality  \
4            ST,LW            ST      France

                                         Image Link  Age  ...  LM Rating  \
4  https://cdn.sofifa.net/players/231/747/23_60.png   23  ...         92

   CM Rating  RM Rating  LWB Rating CDM Rating  RWB Rating  LB Rating  \
4         84         92          70         66          70         66

  CB Rating RB Rating GK Rating
4        57        66        21

[1 rows x 89 columns]
Known As                         Pedri
Full Name         Pedro González López
Overall                             85
Potential                           93
Value(in Euro)               116000000
                          ...
RWB Rating                          79
LB Rating                           77
CB Rating                           72
RB Rating                           77
GK Rating                           19
Name: 82, Length: 89, dtype: object
Mbappé